<div class="navbar-background">
  <nav class="navbar">
    <div class="navbar-buttons">
      <div class="home-button">
        <button [routerLink]="['/merch']">Home</button>
      </div>

      @if (authService.currentUser$ | async) {
        <div class="navbar-button">
          <button (click)="logout()">Se déconnecter</button>
        </div>
        <div class="navbar-button">
          <button [routerLink]="['/profile']">Mon Profil</button>
        </div>
      } @else {
        <div class="navbar-button">
          <button [routerLink]="['/auth/login']">Connexion</button>
        </div>
        <div class="navbar-button">
          <button [routerLink]="['/auth/register']">Register</button>
        </div>
      }
    </div>
    <div class="navbar-cart">
      <button (click)="toggleCart()">🛒</button>
    </div>
  </nav>
</div>
