.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-msg p {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.navbar-cart button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
