.navbar {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  background-color: #222;
  color: white;
  z-index: 999;
  position: fixed;
}

.navbar-msg p {
  color: white;
  margin-right: 1500px;
  margin-left: 15px;
  text-decoration: none;
}

.navbar-cart button {
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
