<div class="product-details">
  @if (product) {
    <h1>{{ product.name }}</h1>
    <img [src]="product.imageUrl" alt="{{ product.name }}" />
    <p>{{ product.description }}</p>
    <p class="price">{{ product.price | currency }}</p>
    @if (product.stock > 0) {
      <p class="stock">In Stock: {{ product.stock }}</p>
      <button (click)="addItem(product)">Add to Cart</button>
    } @else {
      <p class="stock out-of-stock">Out of Stock</p>
    }
  } @else {
    <p class="not-found">Product not found!</p>
  }
</div>
